.burger {
    display: block;
    margin: 20px;
    cursor: pointer;
}

.top {
    height: 3px;
    width: 20px;
    background-color: #6c6c6c;
}

.middle {
    height: 3px;
    width: 20px;
    margin: 4px 0;
    background-color: #6c6c6c;
}

.bottom {
    height: 3px;
    width: 20px;

    background-color: #6c6c6c;
}