.main {
    width: 250px;
    height: 400px;
    /*margin: 15px;*/
    margin: 20px auto;
    background-color: #fcfcfc;
    /* background-color: #191919; */

    /*background-color: white;*/

    /*border: 1px solid #d7d7d7;*/
    cursor: pointer;
    flex-wrap: wrap;
}

.info {
    padding: 10px 5px;
}

.link_product {
    text-decoration: none;
}

.title {
    /*background-color: #03d203;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*width: 100%;*/
    text-decoration: none;
    color: #5b5b5b;
    /* color: #f7f7f7; */
    font-size: 15px;
    font-weight: 400;
    /* padding: 10px 30px 0 30px; */
    /*padding-top: 40px;*/
    /*background-color: #03d203;*/
}

.price {
    /*display: flex;*/
    /*justify-content: center;*/

    /* text-align: center; */
    /*background-color: #d2c103;*/
    /* padding: 10px 0; */

    text-align: right;
    margin-top: 40px;
    color: #69dd69;
}

.description {
    font-size: 12px;
    color: #7d7d7d;
    /*margin: 10px 0;*/
    /*height: 40px;*/
    /*width: 200px;s*/
    
    /* padding: 20px 10px; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;


    /* height: 35px; */
    /* width: 100%; */

    hyphens: manual;

    /*background-color: #A8A8A8;*/

}

.image_border {
    width: 100%;
    height: 250px;
    /*margin: 10px;*/
    overflow: hidden;
}

.image_border img {
    width: 100%;
}



@media(max-width: 1030px) {
    .main {
        scale: 90%;
    }
}

@media(max-width: 950px) {
    .main {
        scale: 100%;

    }
}

@media(max-width: 920px) {
    .main {
        scale: 80%;

    }
}

@media(max-width: 850px) {
    .main {
        scale: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 800px) {
    .main {
        scale: 100%;
    }
}

@media(max-width: 750px) {
    .main {
        scale: 100%;
        margin-top: -50px;
    }
}

@media(max-width: 700px) {
    .main {
        scale: 100%;
    }
}
@media(max-width: 550px) {
    .main {
        scale: 100%;
        margin-left: 0;
    }
}
