.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    /*width: 1200px;*/
}

.container {

}

.img {
    width: 400px;
    /* height: 449px; */
    height: 100%;
    /* overflow: hidden; */
    /*background-color: #03d203;*/
}



.info {
    /* background-color: #3a3a3a; */
    padding: 50px;
    /* height: 349px; */
    height: 100%;
    max-width: 700px;
    
}

.title {
    /* color: white; */
    color: rgb(66, 66, 66);

    font-size: 190%;
    margin-bottom: 25px;
}

.description {
    word-wrap: break-word;
    /* color: #cccccc; */
    color: #3d3d3d;


}

.price_buttons {
    display: flex;
    align-items: center;
    justify-content: left;

    /*background-color: yellow;*/
    margin-top: 100px;
}

.price {
    font-size: 50px;
    color: rgb(47, 47, 47);
}

.button_add {
    border: none;
    background-color: rgb(63, 63, 63);
    padding: 12px 20px;
    height: 100%;
    margin-left: 30px;
    color: aliceblue;
    cursor: pointer;

    transition: .3s all
}

.button_add:hover {
    color: white;
    background-color: #ee6464;
}